body, html {
    background: #F0F3F5;
    color: #F0F3F5;
}

a {
    color: #DD99BB;
    font-weight: bold;
}

a:hover {
    color: rgb(185, 120, 152);
}

.thusand {
    max-width: 600px;
}

.center {
    text-align: center;
}

.shadow {
    text-shadow: 1px 1px 2px #000000;
}

.bg-container {
    background-image: url(./../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.site-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.start-container {
    background-color: rgba(221, 153, 187, 0.6);
    color: #EDE3E4;
}

/*
.collection-container,
.cards-container,
.maps-container {
    opacity: 0;
    filter: blur(50px);
    overflow: hidden;
}*/

.card .content {
    color: rgba(0,0,0,0.5);
}

.maps-container {
    background: #008a53;
}

.cards-container {
    background: #ACECA1;
    color: #292929;
}

.collection-container {
    background: #ACECA1;
    color: #292929;
}

.delivery-container {
    background: url(./../images/budbil.jpg);
    background-size: cover;
    background-position: center;
}

.hours-container {
    background: #EDE3E4;
    color: #DD99BB;
}

.hours-container span {
    width: 130px;
    display: inline-block;
}

.footer-container {
    padding: 20px;
    /*min-height: 200px;*/
    background-color: rgba(221, 153, 187, 0.6);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #EDE3E4;
}

.footer-container a,
.footer-container .icon {
    color: #EDE3E4;
}

.footer-container a:hover {
    color: rgb(204, 212, 197);
}

.footer-container .hours span {
    width: 100px;
    display: inline-block;
    text-align: left;
}

.footer-container .footer-wrapper .ui.stackable {
    min-height: 100vh;
}

.footer-container .footer-wrapper .hours {
    justify-content: center;
    align-items: center;
    display: flex !important;
}

.footer-container .footer-wrapper .org-wrapper img {
    margin-right: 10px;
}
