body, html {
    background: #F0F3F5;
    color: #F0F3F5;
}

a {
    color: #DD99BB;
    font-weight: bold;
}

a:hover {
    color: rgb(185, 120, 152);
}

.thusand {
    max-width: 600px;
}

.bg-container {
    background-image: url(./../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.site-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.start-container {
    background-color: rgba(221, 153, 187, 0.6);
    color: #EDE3E4;
    text-shadow: 1px 1px 2px #000000;
}

.logo-wrapper img {
    margin: 0 auto;
}

.footer-container {
    padding: 20px;
    min-height: 200px;
    background: #DD99BB;
    color: #EDE3E4;
}

.footer-container a,
.footer-container .icon {
    color: #EDE3E4;
}

.footer-container a:hover {
    color: rgb(204, 212, 197);
}

.footer-container .hours span {
    width: 100px;
    display: inline-block;
}

.cards-container,
.maps-container {
    opacity: 0;
    filter: blur(50px);
    overflow: hidden;
}

.card .content {
    color: rgba(0,0,0,0.5);
}

.maps-container {
    background: #C9F2C7;
}

.cards-container {
    background: #ACECA1;
}

.hours-container {
    background: #EDE3E4;
    color: #DD99BB;
}

.hours-container span {
    width: 130px;
    display: inline-block;
}
